<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="springApplicationName" source="spring.application.name"/>

	<property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${springApplicationName} %5p [${PID:- }] [%t] [%X{playerId:-}] --- %-40.40logger{39} : %m%n%wex"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
